@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
  --width-break: 600px;
  --primary-color: #374151;
  --background-color:#E5E7EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredericka the Great', cursive;
  background-color: var(--background-color);
}

header{
  font-size: 2rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}

textarea {
  width: 90%;
  height: 20vh;
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-color: var(--primary-color);
  resize: none;
}

#output {
  border: 1px solid var(--primary-color);
  height: 20vh;
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  font-size: large
}

#btn-translate {
  border-radius: 0.5rem;
  border: none;
  margin: 1rem;
  padding: 1rem;
  color: white;
  background-color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: block;
  background-color: var(--primary-color);
  color: white;
}
